@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", "Kanit", sans-serif;
  text-align: center;
  background-color: lavender;
  font-size: 24px;
}

.controlbutton {
  background-color: greenyellow;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  font-size: 60px;
  margin: 3px;
  margin-bottom: 7px;
  /*transition-duration: 0.2s;*/
}

h1 {
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
h2{
  margin-top: 25px;
  margin-bottom: 15px;
}
p {
  margin: 4px;
}
table,
th,
td {
  margin-inline-start: auto;
  margin-inline-end: auto;
  border: 4px green solid;
  border-collapse: collapse;
  padding: 7px;
}
th {
  background-color: aquamarine;
}
td {
  padding-left: 25px;
  padding-right: 25px;
  background-color: lightcyan;
  min-width: 120px;
}

.near-hit,.redback {
  background-color: lightcoral;
}

.greenback{
  background-color: lightgreen;
}
.cyanback{
  background-color: aqua;
}
.controlbutton:hover {
  background-color: lightgreen;
}

.controlbutton:active {
  background-color: darkgreen;
}

.controlbutton::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
}
/*
.controlbutton:visited{
  background-color: greenyellow;
}*/
