<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WebBuggy</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>WEBBUGGY CONTROL</h1>
    <h3 id="isOnline">Offline</h3>
    <h2>Data from Sensors</h2>

    <table>
      <tr>
        <th>Distance from Front Obstacle (cm)</th>
        <td id="frontDis" class="distance">0</td>
      </tr>
      <tr>
        <th>Headlight Status</th>
        <td id="light" class="redback">OFF</td>
      </tr>
    </table>
    <p>The headlights are controlled by the surroundings' brightness</p>
    <h2>Control</h2>
    <p>You can control the car with the keys WASD</p>
    <p>or with the buttons below</p>

    <button type="button" id = "upbutton" class="controlbutton">W</button><br>
    <button type="button" id = "leftbutton" class="controlbutton">A</button>
    <button type="button" id = "downbutton" class="controlbutton">S</button>
    <button type="button" id = "rightbutton" class="controlbutton">D</button>

    <h2>Change Language</h2>
    <button type="button" id="thaibutton" class="langbuttonoff" onclick="toThai()">ไทย</button>
    <button type="button" id = "engbutton" class="langbuttonon" onclick="toEnglish()">English</button>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
