<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WebBuggy</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>WEBBUGGY CONTROL</h1>
    <h2>Data from Sensors</h2>

    <table>
      <tr>
        <th>Distance from Front Obstacle (cm)</th>
        <td id="frontDis" class="distance">52.7</td>
      </tr>
      <tr>
        <th>Headlight Status</th>
        <td id="light" class="redback">OFF</td>
      </tr>
    </table>

    <h2>Control</h2>
    <p>You can control the car with the keys WASD</p>
    <p>W to go forward</p>
    <p>S to go backward</p>
    <p>A to turn left</p>
    <p>D to turn right</p>
    <!--button type="button" id = "upbutton" class="controlbutton">🢁</button><br>
        <button type="button" id = "leftbutton" class="controlbutton">🢀</button>
        <button type="button" id = "downbutton" class="controlbutton">🢃</button>
        <button type="button" id = "rightbutton" class="controlbutton">🢂</button-->

    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
